<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.lglib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--imageMain显示本地图片界面-->
        <activity
            android:name="com.example.administrator.lglib.view.imagescan.ImageMainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--imageMain显示本地图片界面-->
        <activity
            android:name="com.example.administrator.lglib.view.imagescan.ShowImageActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--editActivity 大的文本输入返回框-->
        <activity
            android:name="com.example.administrator.lglib.view.dialog.EditActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>
</manifest>
